@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --font-family: 'Lato', sans-serif;
  --shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  --shadow2: 0 0 0 1px #e6e8eb, 0 14px 45px 0 rgba(0,0,0,.12);
  --transition: 350ms ease-out;
  --nav-height: 66px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  font-size: 1.5rem;
  padding: 0.25rem 0;
}

input:focus{
  outline: none;
}

.button:hover{
  cursor: pointer;
}

/* Header */
.header{
  position: fixed;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header span{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Main */
.main {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converter{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* Output */
.output{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
}

.output li{
  display: inline-flex;
  gap: 8px;
}

.result{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.copy{
  display: flex;
  align-items: center;
  justify-content: center;
}

.output li svg:hover{
  transition: all ease-in-out 250ms;
}

@media only screen and (max-width: 500px) {

  .output li{
    text-align: center;
    display: block;
  }

}

@media only screen and (max-width: 350px) {

  input{
    font-size: 1rem;
  }

  .converter{
    font-size: 1rem;
  }

}

@media only screen and (max-height: 400px) {

  input{
    font-size: 1rem;
  }

  .header{
    top: 5px;
  }

  .footer{
    bottom: 5px;
    right: 5px;
  }

  .converter{
    font-size: 1rem;
  }

}